textarea {
  min-height: 400px;
}

#email-list {
  border: 2px solid black;
  border-radius: 4px;
}

.headers {
  display: flex;
  justify-content: space-between;
}

.list-header {
  color: darkgreen;
  font-size: larger;
  font-weight: bold;
  width: 20px;
}

.mail-header {
  padding-top: 5px;
  font-size: 1.1em;
  font-weight: bolder;
}

.email, .headers {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  height: 25px;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  background-color: white;
  span {
    display: block;
    padding: 0;
    font-weight: bolder;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
}

.read {
  background-color: grey;
}

.mail-body {
  height: 20vh;
}

.button-area {
  display: flex;
  align-content: center;
  button {
    justify-content: right;
    margin-top: 5px;
    margin-right: 5px;
  }
}
