textarea {
  min-height: 400px;
}

#email-list {
  border: 2px solid black;
  border-radius: 4px;
}

.headers {
  display: flex;
  justify-content: space-between;
}

.list-header {
  color: darkgreen;
  font-size: larger;
  font-weight: bold;
  width: 20px;
}

.email {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  height: 40px;
  overflow-y: hidden;
  display: flex;
  justify-content: space-between;
  background-color: white;
  span {
    display: inline;
    padding: 0;
    font-weight: bolder;
  }
}

.read {
  background-color: grey;
}
